In [1]:
import pymysql

In [12]:
cred = {
    "host": "127.0.0.1",
    "port": 3306,
    "user": "root",
    "passwd": "root",
    "db": "testdb",
    "charset": "utf8mb4",
}

conn = pymysql.connect(**cred)

In [13]:
cursor = conn.cursor()

In [16]:
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('002', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

In [17]:
cursor.execute(sql)

1

In [18]:
conn.commit()

In [20]:
sql = """
select * from staff;
"""

In [21]:
cursor.execute(sql)

2

In [22]:
cursor.fetchall()

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),
 ('002',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)))

In [23]:
cursor.fetchall()

()

In [24]:
cursor.execute(sql)

2

In [25]:
data = list(cursor.fetchall())

In [26]:
data

[('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),
 ('002',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57))]

In [10]:
cursor.close()

In [11]:
conn.close()